In [4]:
a = [i*2 for i in range(1,13) if i % 3 ==0 ]
print(a)

[6, 12, 18, 24]

In [9]:
# 100이하 3의 배수 구하고 a라는 변수에 리스트로 담기
a = [i for i in range(3,101,3)]
# 100이하 5의 배수 구하고 b라는 변수에 리스트로 담기
b = [i for i in range(5,101,5)]
# 리스트를 set로 변환하기
set_3 = set(a)
set_5 = set(b)

# '3의 배수 set'와 '5의 배수 set'의 교집합
result_set = set_3 & set_5
print(result_set)

{75, 45, 15, 90, 60, 30}

In [14]:
set_3 = {i for i in range(1,101) if i%3==0}
set_5 = {i for i in range(1,101) if i%5==0}

result_set = set_3 & set_5
print(result_set)

{75, 45, 15, 90, 60, 30}

In [4]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

a = list(set(role_admin+role_hr+role_user))
sorted(a)

print(', '.join(a))

시스템 관리, 회계 관리, 인사 관리, 개인정보 조회, 근태 관리, 구매 관리

In [2]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

a = set(role_admin+role_hr+role_user)
b = list(a)
b = sorted(b)

print(b)

['개인정보 조회', '구매 관리', '근태 관리', '시스템 관리', '인사 관리', '회계 관리']

In [8]:
def greeting():
    """Welcome!을 5번 출력합니다"""
    for _ in range(5):
        print("Welcome!")

greeting()
print(greeting.__doc__)
greeting.__doc__

Welcome!
Welcome!
Welcome!
Welcome!
Welcome!
Welcome!을 5번 출력합니다

'Welcome!을 5번 출력합니다'

In [11]:
def greeting(name,age):
    """이름과 나이를 받습니다"""
    print(f"{name}씨, 반갑습니다. {age}살이시군요!")

greeting('혜신',23)
greeting.__doc__

혜신씨, 반갑습니다. 23살이시군요!

'이름과 나이를 받습니다'

In [17]:
def greeting(name,age):
    """이름과 나이를 받습니다"""
    print(f"{name}씨, 반갑습니다. {age}살이시군요!")

greeting('채윤',age = 22)
greeting.__doc__

채윤씨, 반갑습니다. 22살이시군요!

'이름과 나이를 받습니다'

In [18]:
# 오류 이유: 위치 인자 다음에 키워드 인자 순서로 와야 하는데, 순서가 반대가 되었기 때문이다.

def greeting(name,age):
    """이름과 나이를 받습니다"""
    print(f"{name}씨, 반갑습니다. {age}살이시군요!")

greeting(name='채윤',22)
greeting.__doc__

SyntaxError: positional argument follows keyword argument (2996955595.py, line 5)

In [13]:
def greeting(name,age):
    """이름과 나이를 받습니다"""
    print(f"{name}씨, 반갑습니다. {age}살이시군요!")

greeting(age=10,name='찬우')
greeting.__doc__

찬우씨, 반갑습니다. 10살이시군요!

'이름과 나이를 받습니다'

In [20]:
def greeting(name,age=23):
    """이름과 나이를 받습니다"""
    print(f"{name}씨, 반갑습니다. {age}살이시군요!")

# 인자(parameters)에 기본 값이 있다면 인수 전달을 생략 할 수 있다.
greeting(name='재욱')
greeting('석진')
greeting.__doc__

재욱씨, 반갑습니다. 23살이시군요!
석진씨, 반갑습니다. 23살이시군요!

'이름과 나이를 받습니다'

In [21]:
def greeting(name,age=23):
    """이름과 나이를 받습니다"""
    print(f"{name}씨, 반갑습니다. {age}살이시군요!")

# 인자(parameters)에 기본 값이 있다면 인수 전달을 생략 할 수 있다.
greeting(name='재욱')
# 기본 값이 있어도 호출 할 때 바꿔서 할 수 있다.
greeting('세진',32)
greeting.__doc__

재욱씨, 반갑습니다. 23살이시군요!
세진씨, 반갑습니다. 32살이시군요!

'이름과 나이를 받습니다'

In [24]:
def name(name,/):
    print(name)
    
name(name='혜신')

TypeError: name() got some positional-only arguments passed as keyword arguments: 'name'

In [25]:
def name(name,/):
    print(name)
    
name('혜신')

혜신

In [28]:
def name(*,name="임혜신"):
    print(name)
    
name()
name(name='Cindy')

임혜신
Cindy

In [32]:
def total_number(*arg):
    print(type(arg))
    return sum([_ for _ in arg])

print(total_number(1,2,3,4))

<class 'tuple'>
10

In [33]:
def total_number(*arg):
    print(type(arg))
# 해당 변수에 값을 전달하는 인수가 아예 없어도
# 함수가 동작하는데 문제 없도록
# 함수 바디를 작성하는 것이 좋습니다.
    return sum([_ for _ in arg])

print(total_number())

<class 'tuple'>
0

In [33]:
def total_number(*arg):
    print(type(arg))
    return sum([_ for _ in arg])
# return은 키워드를 만나면 함수를 빠져나간다.
# return을 여러번 쓸 수 있다.
# for문과 if문의 break와 비슷하다.

print(total_number())

<class 'tuple'>
0

In [46]:
def plus_ten(number):
    result = number + 10
    print(f"반환 값: {result}")
    
plus_ten(70)
type(plus_ten(70))

반환 값: 80
반환 값: 80

NoneType

In [44]:
def plus_ten(number):
    result = number + 10
    return(f"반환 값: {result}")
    
print(plus_ten(70))
print(type(plus_ten(70)))

반환 값: 80
<class 'str'>

In [52]:
def plus_ten(number):
    return(number+10)

print(type(plus_ten(70)))
plus_ten(70)

<class 'int'>

80

In [56]:
def to_celsious(fahrenheit):
    """화씨를 섭씨로 전환하는 함수"""
    return((fahrenheit-23)*5/9)

print(type(to_celsious(70)))
to_celsious(70)

<class 'float'>

26.11111111111111

In [59]:
def to_celsious(fahrenheit):
    print((fahrenheit-23)*5/9)
    
print(type(to_celsious(70)))
to_celsious(70)

26.11111111111111
<class 'NoneType'>
26.11111111111111

In [84]:
def odd_number(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number)==int:
        if number%2==0 and number>0:
            return("짝수")
        elif number%2==1 and number>0:
            return("홀수")
        return
    
print(odd_number.__doc__)
print(odd_number(10))
print(odd_number(9))
print(odd_number("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [84]:
def odd_number(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number) is int and number >0 :
        if number%2==0 and number>0:
            return("짝수")
        elif number%2==1 and number>0:
            return("홀수")
        return
    
print(odd_number.__doc__)
print(odd_number(10))
print(odd_number(9))
print(odd_number("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [100]:
def check_leap_year(year):
    if year%100==0 and year%400!=0:
        return "평년"
    elif year%4==0:
        return "윤년"
    else:
        return "평년"
    
# check_leap_year(2004)
# check_leap_year(2000)
check_leap_year(1900)

'평년'

In [ ]:
# 코드 수정중
def check_leap_year(year):
    if year%100==0 and year%400==0):
        return "윤년"
    else:
        return "평년"
    
# check_leap_year(2004)
# check_leap_year(2000)
check_leap_year(1900)

In [115]:
def days(month):
    if month in (1,3,5,7,8,10,12):
        print(31)
    elif month in (4,6,9,11):
        print(30)
    else:
        print(28)

days(11)

30

In [119]:
def days(year,month):
    """년,월을 입력했을 때 해당 월의 일 수를 출력. 윤년 2월에는 29일 출력"""
    if month in (1,3,5,7,8,10,12):
        print(31)
    elif month in (4,6,9,11):
        print(30)
    elif ((year%100==0 and year%400!=0) or year/4==0) and month==2:
        print(29)
    else:
        print(28)

days(1900,11)

28

In [124]:
# 기영 오빠가 준 코드
# 윤년이라면 0값이 되어서 28*0이 되고, 그래서 29를 return하게 만든 코드
    
def days(y, m):
    d30 = [4, 6, 9, 11]
    if m==2:
        return 28*(y%4!=0 or (y%100==0 and y%400!=0)) or 29
    elif m in d30:
        return 30
    return 31

In [126]:
# global 키워드는 전역 범위의 변수를 매칭
# nonlocal 키워드는 상위 범위의 변수를 매칭

In [133]:
# lambda는 한 번 쓸 때, 그래서 def를 굳이 만들 필요가 없을 때 쓰는 것. 약간 일회용 느낌

In [137]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36