In [ ]:
<a href="https://colab.research.google.com/github/HyeshinLim/pythonbasic/blob/main/practice_review_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023-02-17 1주차 Day 4 내용 복습

In [ ]:
# 공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로
# 제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이
# 아니면 True를 출력하도록 코드를 완성해보세요.

## [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
##scores = [88, 73, 89, 59, 77]
##????? 

#if문으로만 문제풀기

scores = [88,73,89,59,77]

if scores[0] < 60:
    print("False")
elif scores[1] < 60:
    print("False")
elif scores[2] < 60:
    print("False")
elif scores[3] < 60:
    print("False")
elif scores[4] < 60:
    print("False")
else:
    print("True")

False

In [ ]:
# 공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로
# 제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이
# 아니면 True를 출력하도록 코드를 완성해보세요.

## [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
##scores = [88, 73, 89, 59, 77]
##????? 

#for문으로 문제풀기

scores = [88,73,89,59,77]

for i in scores:
    if i<60:
        print("False")
    else:
        print("True")

True
True
True
False
True

In [ ]:
n = int(input("숫자를 입력하세요:"))
for i in range(n,0,-1):
    for j in range(i):
        print(i, end="\t")
    print()

숫자를 입력하세요: 4

4	4	4	4
3	3	3
2	2
1

In [ ]:
for i in range(10):
    if i==0 or i==9:
        print("* "*10)
    else:
        print("*                 *")

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

# 2023-02-18 1주차 내용 복습 1

In [ ]:
# 문자열 리터럴 - raw string

a = r'asdf\trr'
b = 'asdf\trr'

print(a)
print(b)

asdf\trr
asdf	rr

In [ ]:
# 문자열 리터러러 - \ (역슬래쉬)

a = """\
안녕
"""

print(a)

안녕

In [4]:
# 리스트의 값 변경하기

name = ['하람', '혜신', '하유']
print(name)

name[2] = '하윤'

print(name)

['하람', '혜신', '하유']
['하람', '혜신', '하윤']

In [12]:
# 리스트 더하기
name = ['하람', '혜신', '하윤']
name.append('영주')
print(name)

['하람', '혜신', '하윤', '영주']

In [ ]:
# 리스트 안에 리스트

girl = ['하람','혜신','하윤']
boy = ['석진','정훈','준하']

# '+'를 쓰면 리스트를 하나로 합친다. 그래서 리스트 'friends'는 요소가 한 개다.
friends = [girl+boy]
print(friends)

# ','를 쓰면 추가된다. 그래서 리스트 'friends'는 요소가 두 개다.
friends = [girl,boy]
print(friends)

# 리스트 'friends' 인덱스0(첫번째 요소) 안에 인덱스0(첫번째 요소)를 출력하는 코드 
print(friends[0][0])

[['하람', '혜신', '하윤', '석진', '정훈', '준하']]
[['하람', '혜신', '하윤'], ['석진', '정훈', '준하']]
하람

In [ ]:
# 리스트 요소 '찾기' 기능

my_army_friends = ['석진','정훈','재욱','민성']
print('준하' in my_army_friends)
print('재욱' in my_army_friends)

False
True

In [ ]:
# 리스트 매서드

numbers = [1,2,3,4,5]

# 맨 뒤에 요소 추가하기
numbers.append(6)
print("1.",numbers)

# 인덱스에 요소 추가하기
numbers.insert(3,2)
numbers.insert(len(numbers),"last")
print("2.",numbers)

# 요소 추가하기(연장하기) 근데 대괄호를 써줘야 한다.
# 'int' object is not iterable
# extend() takes exactly one argument
numbers.extend([7, 8])

print("3.",numbers)

numbers.pop()
print("4.",numbers)

1. [1, 2, 3, 4, 5, 6]
2. [1, 2, 3, 2, 4, 5, 6, 'last']
3. [1, 2, 3, 2, 4, 5, 6, 'last', 7, 8]
4. [1, 2, 3, 2, 4, 5, 6, 'last', 7]

In [ ]:
# 튜플
# 튜플은 소괄호 생략 가능하다

Im_Tupple = '난','튜','플'
print(Im_Tupple)

Im_Tupple_too = ('나','도','튜','플')
print(Im_Tupple_too)

('난', '튜', '플')
('나', '도', '튜', '플')

In [ ]:
#Unpacking

# 튜플(소괄호를 생략한)을 언팩킹
flavor1, flavor2 = '바닐라','레몬'
print(flavor1,flavor2)

# 리스트를 언팩킹
flavor3, flavor4 = ['다크초코','피스타치오']
print(flavor3,flavor4)

one,two,three,four = "블루베리"
print(one,two,three,four)

바닐라 레몬
다크초코 피스타치오
블 루 베 리

In [ ]:
for _ in ("파 도 솔"):
  print(_,end=",")

파, ,도, ,솔,

In [ ]:
# .reverse() 와 reversed()의 차이
# .reverse()는 리스트 매소드이고 괄호 안에 아무것도 넣지 않는다. 출력은 하지 않고 거꾸로 섞는 것까지만 해서 따로 또 'print(변수)'를 해야 한다.
# reversed()는 print(list(reversed(변수))) 이렇게 사용한다.

alph = ["a", "b", "c", "d"]
print(list(reversed(alph)))
# ['d', 'c', 'b', 'a']

alph = ["a", "b", "c", "d"]
alph.reverse()
print(alph)
# ['d', 'c', 'b', 'a']

['d', 'c', 'b', 'a']
['d', 'c', 'b', 'a']

In [ ]:
# while loop
# while문 순서
# 1. 초기식
# 2. while 조건식
# 3. 반복할 코드
# 4. 변화식

i = 0
while i < 10:
  print(":)")
  i += 1
# "i가 9일 때까지만 반복해서 :)을 찍어줄게."

:)
:)
:)
:)
:)
:)
:)
:)
:)
:)

# 2023-02-19 1주차 내용 복습 2

In [ ]:
# break
# break는 보통 if문과 함께 쓰인다.

# while loop + break
i = 0
while True:
  print('Hi', end='\t')
  i += 1
  if i == 10:
    break

# for loop + break
for _ in range(1000):
  print('_', end='\t')
  if _ == 10:
    break

Hi	Hi	Hi	Hi	Hi	Hi	Hi	Hi	Hi	Hi	_	_	_	_	_	_	_	_	_	_	_

In [17]:
# dictionary
# dict()함수 예시

dict([(1,2)])
#{1: 2}
dict([('과자','프링글스')])
#{'과자': '프링글스'}
icecream = dict(아이스크림='바닐라',아이스크림2='초코',아이스크림3='딸기')
#{'아이스크림': '바닐라', '아이스크림2': '초코', '아이스크림3': '딸기'}
print(icecream['아이스크림2'])
# 초코

초코

# 2023-02-20 2주차 Day 6 내용 복습

In [ ]:
# 리스트 안에 있는 리스트는 같은 주소 값을 갖는다.

# 2023-02-20 1주차 수업 예제문제 풀기

In [4]:
# 문자열을 변경하고 싶을 때

sentence = "오늘도 파이팅!"
print(sentence)

new_sentence = "내일도" + sentence[3::]
print(new_sentence)

오늘도 파이팅!
내일도 파이팅!

In [24]:
# list 생성하기

a = [1,2,3,4,5,6]
print(a)

b = list('123456')
print(b)
b[0] = '2'
print(b)

[1, 2, 3, 4, 5, 6]
['1', '2', '3', '4', '5', '6']
['2', '2', '3', '4', '5', '6']

In [29]:
# 60점 미만이 있으면 fail 출력하게 만들기
scores = [80,65,59,77]
for i in range(len(scores)):
    if scores[i]<60:
        print("fail")
    else:
        print("success")

success
success
fail
success

In [32]:
# 평균이 60점 미만이 있으면 "탈락" 출력하게 만들기
scores = [80,65,59,77]
total =0

for i in range(len(scores)):
    total += scores[i]
avg=total/len(scores)

if avg <60:
    print("탈락")
else:
    print("합격")
print(avg)

합격
70.25

In [25]:
# 이용자에게 받은 정수 4개 중에 60 미만이 있으면 "탈락" 출력하게 만들기
scores = list((input("정수 4개를 입력하세요")).split( ))
scores = list(map(int, scores))

i = 0
while i < len(scores):
    if scores[i] > 60:
        print("합격")
    else:
        print("탈락")        
    i+=1

정수 4개를 입력하세요 56 56 56 56

탈락입니다
탈락입니다
탈락입니다
탈락입니다

In [35]:
sentence = "지금 시각은 {}시 {}분 입니다.".format('오후 8', '오')
print(sentence)

지금 시각은 오후 8시 오분 입니다.

In [4]:
print(f"지금은 {'ojj'}시 {'os'}분 입니다.")

지금은 ojj시 os분 입니다.

In [7]:
a=2
if a == 2:
    print(a)
print(3)

2
3

# 2023-02-21 2주차 Day 7 내용 복습