In [14]:
# 공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로
# 제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이
# 아니면 True를 출력하도록 코드를 완성해보세요.

## [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
##scores = [88, 73, 89, 59, 77]
##????? 

#if문으로만 문제풀기

scores = [88,73,89,59,77]

if scores[0] < 60:
    print("False")
elif scores[1] < 60:
    print("False")
elif scores[2] < 60:
    print("False")
elif scores[3] < 60:
    print("False")
elif scores[4] < 60:
    print("False")
else:
    print("True")

False

In [22]:
# 공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로
# 제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이
# 아니면 True를 출력하도록 코드를 완성해보세요.

## [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
##scores = [88, 73, 89, 59, 77]
##????? 

#for문으로 문제풀기

scores = [88,73,89,59,77]

for i in scores:
    if i<60:
        print("False")
    else:
        print("True")

True
True
True
False
True

In [12]:
n = int(input("숫자를 입력하세요:"))
for i in range(n,0,-1):
    for j in range(i):
        print(i, end="\t")
    print()

숫자를 입력하세요: 4

4	4	4	4
3	3	3
2	2
1

In [15]:
for i in range(10):
    if i==0 or i==9:
        print("* "*10)
    else:
        print("*                 *")

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *