<a href="https://colab.research.google.com/github/HyeshinLim/pythonbasic/blob/main/practice_review_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023-02-17 어제 배운 내용 복습

In [ ]:
# 공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로
# 제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이
# 아니면 True를 출력하도록 코드를 완성해보세요.

## [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
##scores = [88, 73, 89, 59, 77]
##????? 

#if문으로만 문제풀기

scores = [88,73,89,59,77]

if scores[0] < 60:
    print("False")
elif scores[1] < 60:
    print("False")
elif scores[2] < 60:
    print("False")
elif scores[3] < 60:
    print("False")
elif scores[4] < 60:
    print("False")
else:
    print("True")

False

In [ ]:
# 공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로
# 제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이
# 아니면 True를 출력하도록 코드를 완성해보세요.

## [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
##scores = [88, 73, 89, 59, 77]
##????? 

#for문으로 문제풀기

scores = [88,73,89,59,77]

for i in scores:
    if i<60:
        print("False")
    else:
        print("True")

True
True
True
False
True

In [ ]:
n = int(input("숫자를 입력하세요:"))
for i in range(n,0,-1):
    for j in range(i):
        print(i, end="\t")
    print()

숫자를 입력하세요: 4

4	4	4	4
3	3	3
2	2
1

In [ ]:
for i in range(10):
    if i==0 or i==9:
        print("* "*10)
    else:
        print("*                 *")

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

# 2023-02-18 1주차 내용 복습 1

In [ ]:
# 문자열 리터럴 - raw string

a = r'asdf\trr'
b = 'asdf\trr'

print(a)
print(b)

asdf\trr
asdf	rr

In [ ]:
# 문자열 리터러러 - \ (역슬래쉬)

a = """\
안녕
"""

print(a)

안녕

In [ ]:
# 리스트의 값 변경하기

name = ['하람', '혜신', '하유']
print(name)

name[2] = '하윤'

print(name)

['하람', '혜신', '하유']
['하람', '혜신', '하윤']

In [ ]:
# 리스트 더하기

print(name  ['영주'])

['하람', '혜신', '하윤', '영주']

In [ ]:
# 리스트 안에 리스트

girl = ['하람','혜신','하윤']
boy = ['석진','정훈','준하']

# '+'를 쓰면 리스트를 하나로 합친다. 그래서 리스트 'friends'는 요소가 한 개다.
friends = [girl+boy]
print(friends)

# ','를 쓰면 추가된다. 그래서 리스트 'friends'는 요소가 두 개다.
friends = [girl,boy]
print(friends)

# 리스트 'friends' 인덱스0(첫번째 요소) 안에 인덱스0(첫번째 요소)를 출력하는 코드 
print(friends[0][0])

[['하람', '혜신', '하윤', '석진', '정훈', '준하']]
[['하람', '혜신', '하윤'], ['석진', '정훈', '준하']]
하람

In [ ]:
# 리스트 요소 '찾기' 기능

my_army_friends = ['석진','정훈','재욱','민성']
print('준하' in my_army_friends)
print('재욱' in my_army_friends)

False
True

In [ ]:
# 리스트 매서드

numbers = [1,2,3,4,5]

# 맨 뒤에 요소 추가하기
numbers.append(6)
print("1.",numbers)

# 인덱스에 요소 추가하기
numbers.insert(3,2)
numbers.insert(len(numbers),"last")
print("2.",numbers)

# 요소 추가하기(연장하기) 근데 대괄호를 써줘야 한다.
# 'int' object is not iterable
# extend() takes exactly one argument
numbers.extend([7, 8])

print("3.",numbers)

numbers.pop()
print("4.",numbers)

1. [1, 2, 3, 4, 5, 6]
2. [1, 2, 3, 2, 4, 5, 6, 'last']
3. [1, 2, 3, 2, 4, 5, 6, 'last', 7, 8]
4. [1, 2, 3, 2, 4, 5, 6, 'last', 7]

In [ ]:
# 튜플
# 튜플은 소괄호 생략 가능하다

Im_Tupple = '난','튜','플'
print(Im_Tupple)

Im_Tupple_too = ('나','도','튜','플')
print(Im_Tupple_too)

('난', '튜', '플')
('나', '도', '튜', '플')

In [ ]:
#Unpacking

# 튜플(소괄호를 생략한)을 언팩킹
flavor1, flavor2 = '바닐라','레몬'
print(flavor1,flavor2)

# 리스트를 언팩킹
flavor3, flavor4 = ['다크초코','피스타치오']
print(flavor3,flavor4)

one,two,three,four = "블루베리"
print(one,two,three,four)

바닐라 레몬
다크초코 피스타치오
블 루 베 리

In [ ]:
for _ in ("파 도 솔"):
  print(_,end=",")

파, ,도, ,솔,

In [ ]:
# .reverse() 와 reversed()의 차이
# .reverse()는 리스트 매소드이고 괄호 안에 아무것도 넣지 않는다. 출력은 하지 않고 거꾸로 섞는 것까지만 해서 따로 또 'print(변수)'를 해야 한다.
# reversed()는 print(list(reversed(변수))) 이렇게 사용한다.

alph = ["a", "b", "c", "d"]
print(list(reversed(alph)))
# ['d', 'c', 'b', 'a']

alph = ["a", "b", "c", "d"]
alph.reverse()
print(alph)
# ['d', 'c', 'b', 'a']

['d', 'c', 'b', 'a']
['d', 'c', 'b', 'a']

In [ ]:
# while loop
# while문 순서
# 1. 초기식
# 2. while 조건식
# 3. 반복할 코드
# 4. 변화식

i = 0
while i < 10:
  print(":)")
  i += 1
# "i가 9일 때까지만 반복해서 :)을 찍어줄게."

:)
:)
:)
:)
:)
:)
:)
:)
:)
:)

# 2023-02-19 1주차 내용 복습 2

In [11]:
# break
# break는 보통 if문과 함께 쓰인다.

# while loop + break
i = 0
while True:
  print('Hi', end='\t')
  i += 1
  if i == 10:
    break

# for loop + break
for _ in range(1000):
  print('_', end='\t')
  if _ == 10:
    break

Hi	Hi	Hi	Hi	Hi	Hi	Hi	Hi	Hi	Hi	_	_	_	_	_	_	_	_	_	_	_