In [1]:
import pandas as pd
import seaborn as sns

## 연습문제

##### 타이타닉호 데이터셋을 불러옵니다. 그리고 alive라는 column의 값이 ‘no’면 False로 ‘yes’면 True로 변경해봅시다

In [2]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
def change_boolean(value):
    if 'yes' in value:
        return True
    return False

a = titanic.alive.apply(change_boolean)
titanic['alive']=a

In [7]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    bool
 14  alone        891 non-null    bool
dtypes: bool(3), category(2), float64(2), int64(4), object(4)
memory usage: 74.6+ KB

##### 타이타닉호 데이터셋을 불러옵니다. 그리고 age에서 NaN인 값을 제거합니다.adult_female column을 만들고 나이(age)가 20이상이고 성별(sex)이 ‘female’인 값은 True를 아니면 False 값을 할당합니다

In [24]:
# titanic.age에 nan값 개수 구하기 (1)
len(titanic.age)-titanic.age.count()

177

In [27]:
# titanic.age에 nan값 개수 구하기 (2)
titanic.age.isnull().sum()

177

In [31]:
# age column에서 nan값 삭제하기
titanic=titanic.dropna(subset=['age'])

In [34]:
# age column에서 nan값 삭제가 되었는지 확인하기
titanic.age.isnull().sum()

0

In [38]:
titanic['adult_female'] = titanic.apply(lambda x: True if (titanic.age >= 20) & (titanic.sex == 'female') else False)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().